@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = ViewData["Title"] ?? "List";
}

<h2>List @ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Parent Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.CategoryName</td>
                <td>@category.ParentCategoryName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete(@category.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
